@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP";
  background-color: #180910;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #180910;
}

html {
  scroll-behavior: smooth;
}

#header {
  background-image: url("/assets/img/back1.png");
  height: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#header .logo-and-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .logo-and-slogan .slogan {
  color: #add9ff;
  font-size: 23px;
  margin: 10px auto;
  letter-spacing: 1px;
}

#header .logo-and-slogan .logo {
  width: 300px;
  margin: 10px auto;
  margin-top: 5%;
}

#navbar {
  width: 100%;
  background-color: #180910;
  border-top: 1px solid #add9ff;
  border-bottom: 1px solid #add9ff;
  margin: 30px 0;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar ul li {
  margin: 0 30px;
}

#navbar ul li a {
  font-size: 1.4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #add9ff;
}

#navbar ul li a:hover {
  color: #dd00a9;
  border-bottom: 3px solid #fdfc01;
  border-bottom-style: dashed;
}

@media (max-width: 500px) {
  #header {
    height: 200%;
  }
  #navbar {
    height: 400px;
  }
  #navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar ul li {
    margin: 10px 0;
  }
}

#header-signs {
  gap: 1rem;
  display: -ms-grid;
  display: grid;
  margin: 150px 10px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#header-signs .sign:nth-child(odd) {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

#header-signs .sign:nth-child(even) {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

#header-signs .sign:nth-child(1),
#header-signs .sign:nth-child(2) {
  -webkit-animation: slideInFromLeft 2s ease-in;
          animation: slideInFromLeft 2s ease-in;
}

#header-signs .sign:nth-child(3),
#header-signs .sign:nth-child(4) {
  -webkit-animation: slideInFromRight 2s ease-in;
          animation: slideInFromRight 2s ease-in;
}

#header-signs .sign {
  z-index: 1;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: solid 2px transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  height: 260px;
  border: 1px solid #add9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-signs .sign h3 {
  font-size: 2.2rem;
  color: #fdfc01;
  letter-spacing: 2px;
  margin-top: 5%;
}

#header-signs .sign h3 span {
  color: #dd00a9;
}

#header-signs .sign i {
  color: #add9ff;
}

#header-signs .sign img {
  margin: 0 30px;
}

@media (max-width: 1000px) {
  #header {
    height: 150%;
  }
  .sign {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .sign {
    width: 100%;
  }
}

#portfolio h2 {
  margin: 4rem auto;
  text-align: center;
  font-size: 3rem;
  color: #dd00a9;
}

#portfolio .port-container {
  margin: 0 auto;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  height: 700px;
}

#portfolio .port-container .port-item {
  -webkit-transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 350px;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
          box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dd00a9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#portfolio .port-container .port-item h5 {
  font-size: 2rem;
  -webkit-transition: all 0.5s cubic-bezier(0.455, 0.2203, 0.515, 0.955);
  transition: all 0.5s cubic-bezier(0.455, 0.2203, 0.515, 0.955);
  z-index: 52;
}

#portfolio .port-container .port-item h5:hover {
  color: #fdfc01;
  border-bottom: 3px solid #add9ff;
  border-bottom-style: dashed;
}

#portfolio .port-container .port-head-1,
#portfolio .port-container .port-head-3 {
  -webkit-animation: slideInFromTop 20s ease-in;
          animation: slideInFromTop 20s ease-in;
  margin: 1rem;
}

#portfolio .port-container .port-pic-1,
#portfolio .port-container .port-pic-3 {
  -webkit-animation: slideInFromBottom 20s ease-in;
          animation: slideInFromBottom 20s ease-in;
  margin: 1rem;
}

#portfolio .port-container .port-pic-2,
#portfolio .port-container .port-pic-4 {
  -webkit-animation: slideInFromTop 20s ease-in !important;
          animation: slideInFromTop 20s ease-in !important;
  margin: 1rem;
}

#portfolio .port-container .port-head-2,
#portfolio .port-container .port-head-4 {
  -webkit-animation: slideInFromBottom 20s ease-in;
          animation: slideInFromBottom 20s ease-in;
  margin: 1rem;
}

#portfolio .port-pic {
  width: 90%;
}

#portfolio .port-item:hover {
  background-color: #dd00a9;
  border: 2px solid #fdfc01;
}

#portfolio .port-item-1 {
  background-color: #add9ff;
}

@media (max-width: 600px) {
  .port-item {
    margin: 20px 0 !important;
    width: 100%;
  }
  .port-pic {
    height: 300px !important;
  }
}

#services {
  background-color: #180910;
  color: #add9ff;
}

#services h2 {
  margin: 4rem auto;
  text-align: center;
  font-size: 3rem;
  width: 600px;
  color: #dd00a9;
}

#services .serv-container {
  width: 80%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#services .serv-container .serv-item {
  text-align: center;
}

#services .serv-container .serv-item h5 {
  font-size: 1.2rem;
}

/* ANIMATIONS */
@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */