@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
$primary-color: purple;
$secondary-color: #add9ff;
$pink-color: #dd00a9;
$yellow-color: #fdfc01;
$dark-color: #180910;
$light-color: rgb(238, 238, 238);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// HEADER

#header {
  background-image: url("/assets/img/back1.png");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .logo-and-slogan {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .slogan {
      color: $secondary-color;
      font-size: 23px;
      margin: 10px auto;
    }
    .logo {
      width: 300px;
      margin: 10px auto;
      margin-top: 5%;
    }
  }
}

// NAVBAR

#navbar {
  width: 100%;
  background-color: $dark-color;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  margin: 30px 0;
  height: 120px;
  justify-content: center;
  display: flex;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 30px;
      a {
        font-size: 1.4rem;
        transition: all 0.3s;
        color: $secondary-color;
      }
      a:hover {
        color: $pink-color;
        border-bottom: 2px solid $secondary-color;
      }
    }
  }
}

//nav-queries
@media (max-width: 500px) {
  #navbar {
    height: 400px;
    ul {
      flex-direction: column;
      li {
        margin: 10px 0;
      }
    }
  }
}

// HEADER SIGNS

#header-signs {
  gap: 1rem;
  display: grid;
  margin: 150px 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  .sign:nth-child(odd) {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .sign:nth-child(even) {
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .sign {
    background-color: $dark-color;
    height: 230px;
    border: 1px solid $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 2.2rem;
      color: $yellow-color;
      letter-spacing: 2px;
      margin-top: 5%;
      span {
        color: $pink-color;
      }
    }
    i {
      color: $secondary-color;
    }
    img {
      margin: 0 30px;
    }
  }
}
